.row.align-items-center.justify-content-center.mt-5
  .col-md-4.w-25
    %h2 Sign up
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, class: 'form-control'
        %small.form-text.text-muted This is an example app so you can use an example email
      .form-group
        = f.label :password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "off", class: 'form-control'
      .form-group
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
      - flash.each do |key, value|
        .alert.alert-danger
          = value 
      .actions
        = f.submit "Sign up", class: 'btn btn-primary'
    = render "devise/shared/links"
