.row.align-items-center.justify-content-center.mt-5
  .col-md-4.w-25
    %h2 Wallet Example with Stripe and Rails 
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, class: 'form-control'
        %small.form-text.text-muted This is an example app so you can use an example email
      .form-group
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "off", class: 'form-control'
      - flash.each do |key, value|
        .alert.alert-danger
          = value 
      - if devise_mapping.rememberable?
        .form-check
          %label.form-check-label{ for: 'remember_me' }
            = f.check_box :remember_me, class: 'form-check-input'
            Remember me
      .actions
        = f.submit "Log in", class: 'btn btn-primary'
    = render "devise/shared/links"
